@charset "utf-8";

$global: ();
$config: (
"base-fontsize": "16px",
"base-locale": "en",
"base-color": #ccc
);

@function -map-make($key, $values) {
  @if unquote($string: $key) {
    $key: quote($string: $key);
  }

  @return ($key: $values);
}

@function map-set($src-map, $keys) {
  @if type-of($src-map) != map {
    @return "Illegal argument type. Expected `map` type <$src-map #{$src-map}>";
    @return false;
  }

  @if type-of($keys) == string {
    @return map-remove($src-map, $keys);
  }

  $_keys: map-keys($keys);
  $maps: map-remove($src-map, $_keys...);

  @return map-merge($keys, $maps);
}

@function export($local-cfg) {
  @if type-of($local-cfg) != map {
    @return "Illegal argument type. Expected `map` type <$local-cfg #{$local-cfg}>";
    @return false;
  }

  $l: ();

  @for $i from 1 through length($local-cfg) {
    $_map: nth($local-cfg, $i);
    $_key: nth($_map, 1);
    $_values: nth($_map, 2);

    @if map-has-key($local-cfg, $_key) {
      $l: map-remove($local-cfg, $_key);
    }

    $l: map-merge($local-cfg, -map-make($_key, $_values));
  }

  @return $l;
}

@function global($gobal-cfg, $prefix: "global") {
  @if type-of($gobal-cfg) != map {
    @return "Illegal argument type. Expected `map` type <$gobal-cfg #{$gobal-cfg}>";
    @return false;
  }

  $gl: ();

  @for $i from 1 through length($gobal-cfg) {
    $_map: nth($gobal-cfg, $i);
    $_key: nth($_map, 1);
    $_values: nth($_map, 2);

    @if $prefix != null {
      $_key: str-insert($_key, $insert: $prefix + "-", $index: 1);
    }

    @if map-has-key($gl, $_key) {
      $gl: map-remove($gl, $_key);
    }

    $gl: map-merge($gl, -map-make($_key, $_values));
  }

  @return $gl;
}

$global: global($config); // accesible global scope
