$base-fontsize: 100% !default;

// Only if base fontsize is defined

@function _strip_unit($number) {
  @return $number / ($number * 0 + 1);
}

@function _convert_rem($number, $base) { 
  $rem: _strip_unit($number) / _strip_unit($base) * 1rem;
  
  @if $rem == 0rem {
    $rem: 0;
  }
  
  @return $rem;
}

@function calc_rem($unit-size, $base: 14px) {
  @if type-of($unit-size) != number {
    @warn "Invalid type of data <$unit-size: #{inspect($unit-size)}>";
    @return false;
  }
  @else if unit($unit-size) != 'px' or unitless($unit-size) {
    $unit-size: $unit-size * 1px;
  }
  
  @if unit($base) == '%' {
    $base: $base / 100% * 16px;
  }
  
  @return _convert_rem($unit-size, $base);
}

